:root{
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 54%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
}
@font-face {
    font-family: myFirstFont;
    src: url(./Overpass-VariableFont_wght.ttf);
  }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: myFirstFont;
}
body{
    background-color: var(--Very-Dark-Blue);
}
.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container{
    width: 30%;
    height: 60vh;
    background-image: linear-gradient(var(--Dark-Blue), hsl(215, 33%, 7%));
    border-radius: 2rem;
    padding: 2rem;
}

.first{
    position: absolute;
    z-index: 0;
}

.first img{
    background-color: var(--Dark-Blue);
    padding: 1rem;
    border-radius: 50%;
}


.container h4{
    color: white;
    margin: 1rem 0rem;
    font-size: 1.5rem;
}

.container p{
    color: var(--Medium-Grey);
}

.container .ratings{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.container .ratings button{
    border: none;
    padding: 1rem 1.3rem;
    background-color: var(--Dark-Blue);
    color: var(--Medium-Grey);
    border-radius: 50%;
}

.container .ratings button:hover{
    background-color: var(--Orange);
    color: white;    
}
.container .ratings  .active{
    background-color: var(--Light-Grey);
    color: white;    
}

.container #submit{
    background-color: var(--Orange);
    border: none;
    width: 100%;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 3rem;
    color: white;
}
.container #submit:hover{
    background-color: white;
    color: var(--Orange);
}


.second{
    /* display: none; */
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    z-index: 3;
}

.second #rate-p{
    color: var(--Orange);
    background-color: var(--Dark-Blue);
    padding: 0.2rem 1rem;
    border-radius: 1rem;
    margin: 1rem 0rem;

}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}


@media screen and (max-width: 500px) {
    .wrapper{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 10rem;
    }
    .container{
        width: 90%;
        height: 50vh;
        background-image: linear-gradient(var(--Dark-Blue), hsl(215, 33%, 7%));
        border-radius: 2rem;
        padding: 2rem;
        margin: 1rem;
    }
    .container h4{
        color: white;
        margin: 1rem 0rem;
        font-size: 1.5rem;
    }
    
    
}